
.cat-container img{
  width: 200px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cat-container img:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}
.gallery-section{
  padding: 0 100px 100px 100px;
  height: 120vh; /* Makes it visually distinct */
  text-align: center;
  cursor: pointer;
}
.gallery-section h1{
  color:#1e293b ;
}
.searched-gallery{
  margin-top: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
}
.backgroundmodal{
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
}
.backgroundmodal h2{
  text-align: center;
  color: #be185d;
}
#refreshButton {
  margin: 20px 0;
  background-color: #f472b6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#refreshButton:hover {
  background-color: #be185d;
}
.cat-image{
  background-color: #f472b6;
}
@media (min-width:320px) {
  .cat-container{
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 1rem;
  }

  .gallery-section{
    padding: 20px 50px 50px 50px;
    height: 270vh;
    }
}
@media (min-width:768px) {
  .gallery-section{
  height: 120vh;
  }
}