.navbar{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  border: 2px solid white;
}
.navbar-links{
  height: 100%;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column-reverse;
  position: fixed;
  border: 2px solid white;
  top: 20px;
  right: 10px;
  border-radius: 5px;
  overflow: hidden;
  align-items: end;
  justify-content: start;
  text-decoration: none;
}