*{
  margin: 0;
  padding: 0;
}
body, html{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f9;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1{
  color: #f1f5f9;
}
span{
  color: #f472b6;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
